<div class="lbl-chatbot-answer">
    <li>
        <img src="/static/gentelella/images/chatbot.jpg" class="avatar" alt="Avatar">
        <div class="message_date">
            <h4 class="date text-info"></h4>
            <p class="month"></p>
        </div>
        <div class="message_wrapper">
            <h4 class="heading">Chatbot</h4>
            <blockquote class="message"></blockquote>
            <br />
            <p class="url">
                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                <a href="#"><i class="fa fa-paperclip"></i> <span class="reference"></span></a>                
            </p>
            <p class="url">
                <i class="fa fa-clock-o"></i> <span class="timer"></span>
            </p>            
        </div>
    </li>
</div>