<div class="lbl-user-question">
    <li>
        <img src="/static/gentelella/images/main_profile.jpg" class="avatar" alt="Avatar">
        <div class="message_date">
            <h4 class="date text-info">{{ data.question_date }}</h4>
            <p class="month">{{ data.question_time }}</p>
        </div>
        <div class="message_wrapper">
            <h4 class="heading">Holger Espinola</h4>
            <blockquote class="message"></blockquote>
            <br />
            <p class="url">
                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                <a href="#"><i class="fa fa-paperclip"></i> User question</a>
            </p>
        </div>
    </li>
</div>